@font-face {
  font-family: 'Spotify';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.section-container
{
  font-family: 'Spotify';
  background-image: linear-gradient(#1f1f1f, #101010);
  margin: 0.6em 0 0 0;
  border-radius: 6px;
  padding: 0;
  padding-bottom: 2.5rem;
  height: 869px;
  float:left;
  overflow-y : scroll;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 100%;
}


.section-container::-webkit-scrollbar { 
  width: 12px; 
  
} 

.section-container::-webkit-scrollbar-track { 
  background: none; 
} 

.section-container::-webkit-scrollbar-thumb { 
  background: #5a5a5a; 
} 

.section-container::-webkit-scrollbar-thumb:hover { 
  background: #555; 

} 

.section-container::-webkit-scrollbar-button { 
  display: none; 
} 
.container-section-one
{
  display: flex;
  flex-wrap: wrap;
}

h1
{
  color: #ffffff;
  font-weight: bolder;
  padding: 10px;
  font-size: 1.5rem;
}

@media (max-width:426px) {
  .container-footer-two
  {
    padding: 15px;
    font-size: 2rem;
    width:180px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 9em;
  }

  h1
  {
    color: #ffffff;
    font-weight: bolder;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 2rem;
  }
}
